button {
  color: var(--textColor);
  background: var(--color-primary);
  border: none;
  border-radius: 2px;
  padding: 15px 30px;
  cursor: pointer;
  box-shadow: var(--elevation-two);
  transition: all 0.2s;

  &:hover {
    box-shadow: var(--elevation-three);
  }

  &:active {
    transform: translateY(1px);
  }
}

a {
  text-decoration: none;
  color: var(--textColor);
  border-bottom: 2px solid var(--color-primary);
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }
}
