.container {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $extra-large-breakpoint) {
    max-width: 45rem;
  }

  @media screen and (max-width: $large-breakpoint) {
    max-width: 80%;
  }

  @media screen and (max-width: $small-breakpoint) {
    max-width: 90%;
  }
}

main {
  min-height: 50vh;
}

img {
  border-radius: 7px;
  box-shadow: var(--elevation-four);
}

svg {
  width: 1rem;
  height: 1rem;
}

code {
  font-family: var(--font-mono);
  background: var(--color-black);
  display: block;
  color: var(--color-white);
  font-size: $size-400;
  padding: $size-500;
}

.large-icon {
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0.6;
  transition: opacity 0.1s ease-in;
  cursor: pointer;

  display: grid;
  place-items: center;

  color: var(--textColor);

  &:hover {
    opacity: 1;
  }
}

.no-margin {
  margin: 0;
}

.hero {
  margin-top: $size-700;
  padding-top: $size-400;
  padding-bottom: $size-400;

  h5 {
    margin: 0;
    margin-bottom: $size-400;
  }

  @media screen and (max-width: $large-breakpoint) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

.hero-text {
  max-width: 60ch;

  @media screen and (max-width: $large-breakpoint) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50ch;
  }
}

.latest-posts {
  padding-top: $size-600;
  padding-bottom: $size-500;

  h3 {
    margin: 0;
    margin-bottom: $size-400;
  }

  @media screen and (max-width: $large-breakpoint) {
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 50ch;
  }
}
