footer {
  margin-top: $size-500;
  padding-top: $size-500;
  padding-bottom: $size-500;
  background: var(--footerBackground);

  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;

  border-top: 1px solid var(--footerBorder);
}

.footer {
  display: grid;
  grid-template-columns: fit-content(15ch) auto 1fr;
  grid-gap: $size-500;
  align-items: center;

  div {
    a {
      border: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  div:nth-child(2) {
    display: grid;
    place-content: center;

    p {
      margin: 0;
      margin-top: 4px;
      opacity: 0.5;
      border-left: 1px solid gray;
      padding-left: $size-400;
    }
  }

  nav {
    justify-self: end;

    ul {
      list-style: none;

      display: flex;
      flex-wrap: wrap;

      li {
        margin-left: 1rem;
      }

      a {
        padding: 0.2rem;
        border: 0;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: $large-breakpoint) {
  .footer {
    grid-template-rows: min-content 1fr;
    grid-row-gap: $size-400;

    div {
      grid-column: 1 / -1;
      justify-self: center;
    }

    div:nth-child(2) {
      p {
        border: 0;
        padding: 0;
      }
    }

    nav {
      grid-column: 1 / -1;
      justify-self: center;

      & > a {
        margin-left: 0;
      }

      & > a:not(:first-child) {
        margin-left: 5rem;
      }

      ul {
        padding-left: 0;
        margin: 0;

        li:is(:first-child) {
          margin-left: 0;
        }
      }
    }
  }
}
