header {
  display: grid;
  grid-template-columns: fit-content(35ch) 1fr;

  margin-bottom: 2rem;

  @media screen and (max-width: $medium-breakpoint) {
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1rem;
  }

  h3,
  a {
    margin: 0;
  }

  div {
    @media screen and (max-width: $medium-breakpoint) {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  nav {
    align-self: center;
    justify-self: end;

    & > a {
      margin-left: 1.5rem;
    }

    @media screen and (max-width: $medium-breakpoint) {
      grid-column: 1 / -1;
      justify-self: center;

      & > a {
        margin-left: 0;
      }

      & > a:not(:first-child) {
        margin-left: 5rem;
      }
    }

    @media screen and (max-width: $really-really-small-breakpoint) {
      display: flex;
      flex-wrap: wrap;

      & > a {
        margin: 1rem !important;
      }

      // & > a:not(:first-child) {
      //   margin-left: 5rem;
      // }
    }
  }
}
