.not-found {
  margin: $size-major auto;
  text-align: center;

  @media screen and (max-width: $large-breakpoint) {
    margin: $size-700 auto;
  }

  p {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
  }
}
