@import 'reset';
@import 'base';
@import 'global';
@import 'typography';

@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Gilroy-Bold.ttf');
}
